.btn{
    margin-right: 10px;
}
.heading{
    color: aliceblue;
}
.login{
    align-items: center;
    margin-top: 80px;
}
.heading2{
    margin-top: 50px;
}
.regbtn{
    color: aliceblue;
}